// Default
html, body {
    height: 100%;
}

// Navbar
.dash-navbar {
    box-shadow: 0 3px 5px rgba(0,0,0,0.04);
    padding: 0;
}
.dash-navbar-brand {
    width: 250px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-align: center;
    background-color: $dark;
    color: $white !important;
}
.dash-navbar-collapse {
    padding-right: $grid-gutter-width/2;
}
.dash-dropdown-menu {
    margin-top: 15px;
    border: 0;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
.dash-sidebar-toggler {
    color: rgba(0,0,0,0.5);

    &:hover {
        text-decoration: none;
        color: rgba(0,0,0,0.7);
    }
}

// Body wrapper
.dash-wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 62px;
}

// Sidebar
.dash-sidebar {
    color: $white;
    height: 100%;
    flex: 0 1 0;
    flex-shrink: 0;
    transition: flex-basis 0.3s ease-out;
}
.dash-sidebar-visible {
    flex-basis: 250px;
    
    .dash-sidebar-wrapper {
        width: 250px;
    }
}
.dash-sidebar-wrapper {
    background-color: $dark;
    overflow-y: auto;
    height: calc(100vh - 62px);
    position: fixed;
    width: 0;
    transition: width 0.3s ease-out;
}
.dash-sidebar-slimscroll {
    padding: $grid-gutter-width/2 0;
}
.dash-sidebar-list {
    list-style: none;
    padding: 0;

    li {
        font-weight: 400;
        padding: 0.7rem $grid-gutter-width/2;
        white-space: nowrap; 

        &.dash-active {
            background-color: theme-color-level(dark, 5);
            border-left: 3px solid $cyan;

            a {
                color: $white;
            }

            &.dash-sidebar-hasmenu {
                .dash-sidebar-submenu {
                    display: block;
                }
            }
        }

        &.dash-sidebar-hasmenu {
            padding: 0.7rem 0 0 !important;

            a {
                padding-bottom: 0.7rem;
                padding-left: $grid-gutter-width/2;
            }
        }

        &:last-child {
            margin-bottom: $grid-gutter-width/2;
        }
        
        a {
            color: rgba(255,255,255,0.5);
            text-decoration: none;
            display: block;
            
            &:hover {
                color: $white;
            }

            i {
                margin-right: 1rem;
                font-size: 0.8rem;
                width: 20px;
                display: inline-block;
                line-height: 22px;
                text-align: center;
            }
        }
    }
}
.dash-sidebar-list-title {
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
    color: $white !important;
}
.dash-sidebar-submenu {
    background-color: theme-color-level(dark, 4);
    padding-left: 2.7rem;
    display: none;

    a {
        color: rgba(255,255,255,0.5) !important;
        padding-bottom: 0 !important;
        padding-left: 0 !important;

        &:hover {
            color: $white !important;
        }
    }

    li {
        padding: 0.7rem 15px 0.7rem 0.5rem !important;
    }

    li:last-child {
        margin-bottom: 0;
    }
}

// Content
.dash-content {
    flex: 1;
}

@include media-breakpoint-down(md) {
    // Navbar
    .dash-navbar {
        padding: 0.5rem 1rem;
    }
    .dash-navbar-brand {
        margin-right: 0;
        background-color: $white;
        color: $dark !important;
        text-align: left;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        width: auto;
    }
    .dash-dropdown-menu {
        border: 0;

        .dropdown-item {
            padding: 0.25rem 0;
            color: theme-color-level(dark, -7);
        }
    }

    // Content
    .dash-sidebar {
        display: none;
    }
}