$body-bg: #f2f7fb;
$dark: #263544;
$font-family-sans-serif: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$simple-line-font-path: "/dist/fonts/vendor/simple-line-icons/";